<table class="table table-bordered">
  <thead>
  <tr>
    <th>Cliente</th>
    <th>Jira Id</th>
    <th>Descripción</th>
    <th>Due Date</th>
    <th>Estado</th>
    <th>Facturación</th>
    <th>Facturación posible</th>
    <th>Comentarios</th>
    <th>Monto</th>
    <th>Acción</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngIf="!projects">
      <td colspan="10">No hay proyectos asociados</td>
    </tr>
    <tr *ngFor="let project of projects">
      <td>{{project.client}}</td>
      <td>{{project.jiraId}}</td>
      <td>{{project.description}}</td>
      <td>{{project.dueDate}}</td>
      <td>{{project.state}}</td>
      <td>{{project.billingPercentage}} %</td>
      <td>{{project.billingPossible}} %</td>
      <td>{{project.comments}}</td>
      <td>{{project.amount}}</td>
      <td>{{project.action}}</td>
    </tr>
  </tbody>
</table>